<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="icon" href="../Assets/img/logo-1.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-link {
            color: white !important;
            font-size: 20px;
        }

        header {
            background-color: black;
        }

        form .form-control {
            border-radius: 20px;
            padding: 0.75rem 1.25rem;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="../Assets/img/logo.svg" class="logo" width="150px"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
                    <li class="nav-item"><a class="nav-link" href="/add">Add</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container text-center mt-4">
        <h1>Add New Movie</h1>
        <form action="/insertData" method="post" class="form-inline col-md-12" enctype="multipart/form-data">
            <table class="table table-bordered">
                <tr>
                    <th>Image : </th>
                    <td><input type="file" name="image" id=""></td>
                </tr>
                <tr>
                    <th>Name : </th>
                    <td><input type="text" name="name" class="form-control"></td>
                </tr>
                <tr>
                    <th>Genre : </th>
                    <td>
                        <select name="genre" id="">
                            <option value="">---Select Genre---</option>
                            <% let genre=['Action','Thriller','Comedy','Sci-Fi','Suspense','Horror']; genre.map((val)=>
                                { %>
                                <option value="<%= val %>">
                                    <%= val %>
                                </option>
                                <% }); %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Date : </th>
                    <td><input type="date" name="date" class="form-control"></td>
                </tr>
                <tr>
                    <th>Description : </th>
                    <td><input type="text" name="desc" class="form-control"></td>
                </tr>
                <tr>
                    <th>Rating : </th>
                    <td>
                        <select name="rating" id="">
                            <option value="">---Select Rating---</option>
                            <% let rating=['⭐','⭐⭐','⭐⭐⭐','⭐⭐⭐⭐','⭐⭐⭐⭐⭐']; rating.map((val)=> { %>
                                <option value="<%= val %>">
                                    <%= val %>
                                </option>
                                <% }); %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Duration : </th>
                    <td><input type="text" name="time" class="form-control"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="ADD"></td>
                </tr>
            </table>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>