<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="icon" href="../Assets/img/logo-1.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url(../Assets/img/NF-BG.jpg);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .nav-link {
            color: white !important;
            font-size: 20px;
        }

        .hero {
            margin: 120px;
        }

        h1 {
            color: white;
        }

        p {
            color: white;
            font-size: 20px;
        }

        .btn {
            background-color: red;
            color: white;
            padding: 10px;
            font-size: 20px;
        }

        span {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="../Assets/img/logo.svg" class="logo" width="150px"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
                    <li class="nav-item"><a class="nav-link" href="/add">Add</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container hero">
        <main class="text-center">
            <div>
                <h1>Unlimited movies,TV shows,and more</h1>
                <p>Watch anywhere.Cancel anytime</p>
            </div>
            <div>
                <a href="/view" class="btn">Get Started <span>&#10162;</span> </a>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>